<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="10-zoll_Raspberry_pi-DualMount"/>
  <volume firstid="0" lastid="23247">
   <metadata type="volume" key="name" value="Rack_Mount_19in_1U_Modular_Dual_RP_w_2.5_drive_V2_Left"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Rack_Mount_19in_1U_Modular_Dual_RP_w_2.5_drive_V2_Left.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="17.646381378173828"/>
   <metadata type="volume" key="source_offset_y" value="-20.499996185302734"/>
   <metadata type="volume" key="source_offset_z" value="22"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
